{% extends "base.html" %}


{% block title %}Orange Pekoe Press :: Dashboard{% endblock %}

{% block content %}
	<div class="section">
        <h2>Dashboard</h2>
	    <table>
            <thead>
                <tr><th>Status</th><th class="titlecolumn">Title</th><th class="previewcolumn">Preview</th></tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                {% for submission in account.ordered_submissions %}
                    <tr>
                        <td>{{submission.status|e}}</td>
                        <td>{{submission.title|e}}</td>
                        <td><a href="{{submission.preview_url}}">{{submission.text|truncate(50)|e}}</a></td>
                    </tr>
                {% else %}
                    <tr><td colspan="3" class="nosubmissions">No submissions found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
