{% extends "base.html" %}
{% from 'macros.html' import with_errors %}


{% block title %}Orange Pekoe Press :: Resubmit "{{submission.title|e}}"{% endblock %}

{% block content %}
	<div class="section">
        <h2>Resubmit "{{submission.title|e}}"</h2>
        <p>Resubmit a fixed version of your work if it has formatting problems.</p>
        <form method="post" action=".">
	    {% for field in form %}
            {{ with_errors(field) }}
        {% endfor %}
         <input type="submit" value="Resubmit" />
        </form>
        <p>We'll contact you with news regarding this submission at your account's email. That email is currently {{account.email}}.</p>
    </div>
{% endblock %}
